node_modules
yarn.lock
.yarnclean
yarn-error.log
.idea
.vscode/
.promptLib/
package-lock.json

cypress/screenshots

.DS_Store

allure-results
allure-report

videos
.vs

.env
report.txt
scripts/update_permission_names/permissions_backups/*

.github/instructions/*
.github/copilot-instructions.md
.github/agents/*

*_automated_tests.json

mcp.json
cypress/e2e/failed.cy.js
parallelWorkers.json
